.activate-btn,
.deactivate-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; /* Change to your desired color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.deactivate-btn {
  background-color: #dc3545; /* Change to your desired color */
}

.activate-btn:hover,
.deactivate-btn:hover {
  background-color: #0056b3; /* Change to your desired color */
}