.activate-btn,
.deactivate-btn,
.capture-btn,
.close-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.deactivate-btn {
  background-color: #dc3545; 
}

.close-btn {
  background-color: #dc3545; 
  margin-left: 10px;
  margin-right: 0px;
}

.activate-btn:hover,
.capture-btn:hover {
  background-color: #0056b3; 
}

.deactivate-btn:hover,
.close-btn:hover {
  background-color: #921a26ea; 
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Adjust the top margin as needed */
}

